<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Now is <%= Time.now %><p>


<% categories = [ 'plage', 'sport', 'culture' ] %>

<h2>Ds visittes pour tout les gouts</h2>
<ol>
<% categories.each do |category| %>
  <li><%= category.capitalize %></li>
<% end %>
</ol>

